.color-highlight {
	color: #225E9B;
}

.color-highlight:after {
    content :"2";
    font-weight: 900;
    color: var(--danger);
    position: relative;
}

.navbar-brand .color-highlight:after {
    left: -3px;
}

.subhead .color-highlight:after {
    left: -8px;
}

.navside-col {
    /* same color of navsidemenu (bg-light) */
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}
