

 

 
 
 

     <div class="row">
                                                      
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 py-3">
                         <h1 id="components-navbar_toc_top_navbar_component1">Top Navbar Component</h1> 
<p>support <span class="badge badge-primary">v2.0</span><br> element <span class="badge badge-secondary">reflow</span> <span class="badge badge-info">component</span></p> 
<p>Navbar is Bootstrap responsive navigation header component fixed to the top of page. It contains all <a class="externalLink" href="http://maven.apache.org/plugins/maven-site-plugin/examples/sitedescriptor.html#Links"><code class="\&quot;literal\&quot;">&lt;body&gt;&lt;links&gt;</code> element</a> and filtered <a class="externalLink" href="http://maven.apache.org/plugins/maven-site-plugin/examples/sitedescriptor.html#Including_Generated_Content"><code class="\&quot;literal\&quot;">&lt;body&gt;&lt;menu&gt;</code></a> declared in site.xml.</p> 
<div> 
 <div> 
  <pre class="source">&lt;custom&gt;
  &lt;reflowSkin&gt;
    ...
    &lt;!-- global --&gt;
    &lt;navbar filterMenu="Regex filter" cssClass="bootstrap classes"&gt;
    &lt;pages&gt;
        &lt;page&gt;
            &lt;!-- specific one page --&gt;
            &lt;navbar cssClass="bootstrap classes"&gt;
        &lt;/page&gt;
    &lt;/pages&gt;
    ...
  &lt;/reflowSkin&gt;
&lt;/custom&gt;
</pre> 
 </div> 
</div> 
<ul> 
 <li><b>filterMenu</b> <span class="badge badge-light">v2.0</span> - applies the regular expression to menu names and <code class="\&quot;literal\&quot;">ref</code> attributes. If the regular expression matches, adds the menu to the top navigation. expression matches, adds the menu to the top navigation.</li> 
 <li><b>cssClass</b> <span class="badge badge-light">v2.0</span> - Sets the css class of navbar with built-in Bootstrap support. <code class="\&quot;literal\&quot;">navbar-light bg-light border-bottom</code> is the default value if value is empty or <code class="\&quot;literal\&quot;">null</code>.</li> 
</ul>
        </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                                <div id="m-toc-sidebar" class="d-print-none hidden-xs hidden-sm m-toc-sidebar-enabled m-toc-sidebar-expanded m-toc-sidebar-autoexpandable toc-sidebar-fixed">
                <nav id="m-toc-sidebar-nav flex-column">
                <ul class="m-nav--sidebar nav flex-column flex-nowrap">
    <li class="h1">
        <a class="nav-link" href="#components-navbar_toc_top_navbar_component1" title="Top Navbar Component">Top Navbar Component</a>
    </li>
                    </ul>
                </nav>
           </div>
        </div>
</div>
