 


  <div class="row no-gutters">
    <div class="col-lg-12 col-xl-9 py-3">
            <h1 id="components-components_toc_components-overview">Components Overview</h1> 
<p>This section describes how customize each component globally or a specific page.</p> 
<ul> 
 <li><b><a href="#components-toc">Table of Contents Component</a></b> is the standard representation in Reflow skin.</li> 
 <li><b><a href="#components-header">Header Components</a></b> is component representing the standard banner and breadscrumb maven site element.</li> 
 <li><b><a href="#components-breadcrumb">Breadcrumb Components</a></b> indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.</li> 
 <li><b><a href="#components-footer">Footer Component</a></b> .</li> 
 <li><b><a href="#components-navbar">Navbar Component</a></b> is Bootstrap responsive navigation header component fixed to the top of page.</li> 
 <li><b><a href="#components-navside-menu">Navside Menu Component</a></b> is a part of page <a href="#documentation-layout">documentation layout</a> to the left of page. Navside menu is vertical multi level menus for both desktop and mobile modes.</li> 
</ul>
        </div>
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block col-xl-3">
        <div class="feedback-links">
            <ul class="nav flex-column flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/devacfr/reflow-maven-skin/tree/master/reflow-maven-skin/src/site/markdown/components/components.md"><i class="far fa-edit" target="_blank" rel="noopener noreferrer"></i> Improve this page</a>
                </li>
            </ul>
        </div>
            <div id="m-toc-sidebar" class="d-print-none m-toc-sidebar-enabled m-toc-sidebar-expanded m-toc-sidebar-autoexpandable toc-sidebar-fixed">
                <nav id="m-toc-sidebar-nav flex-column">
                <ul class="m-nav--sidebar nav flex-column flex-nowrap">
    <li class="h1">
        <a class="nav-link" href="#components-components_toc_components-overview" title="Components Overview">Components Overview</a>
    </li>
                    </ul>
                </nav>
           </div>
    </div>
</div>