 


  <div class="row no-gutters">
    <div class="col-lg-12 col-xl-9 py-3">
            <h1 id="components-navbar_toc_top-navbar-component">Top Navbar Component</h1> 
<p>Navbar is Bootstrap responsive navigation header component fixed to the top of page. It contains all <a class="externalLink" href="http://maven.apache.org/plugins/maven-site-plugin/examples/sitedescriptor.html#Links">&lt;body&gt;&lt;links&gt; element</a> and filtered <a class="externalLink" href="http://maven.apache.org/plugins/maven-site-plugin/examples/sitedescriptor.html#Including_Generated_Content">&lt;body&gt;&lt;menu&gt;</a> declared in site.xml.</p> 
<p><img src="images/navbar-scheme.png" alt="navbar scheme" class="img-fluid"></p> 
<section> 
 <h2 id="components-navbar_toc_usage1">Usage</h2> 
 <p>support <span class="badge badge-primary">v2.0</span><br> element <span class="badge badge-secondary">reflow</span> <span class="badge badge-info">component</span></p> 
 <div> 
  <div> 
   <pre class="source">&lt;navbar filterMenu="Regex filter"
        cssClass="css classes"
        theme="light|dark"
        background="bootstrap colour theme"
        center="true|false"
        alignMenu="left|right"&gt;
    &lt;image src="image path" width="number|30" height="number|30" /&gt;
&lt;/navbar&gt;
</pre> 
  </div> 
 </div> 
 <ul> 
  <li><b>filterMenu</b> <span class="badge badge-light">v2.0</span> - applies the regular expression to menu names and ref attributes. If the regular expression matches, adds the menu to the top navigation. expression matches, adds the menu to the top navigation.</li> 
  <li><b>cssClass</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap support. The default value is null.</li> 
  <li><b>theme</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap theme . light is the default value if value is empty or null.</li> 
  <li><b>background</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap colour theme. light is the default value if value is empty or null.</li> 
  <li><b>center</b> <span class="badge badge-light">v2.1</span> - Sets the centering of the component with values true (<b>default</b>) or false. center use bootstrap containers otherwise use default bootstrap alignment.</li> 
  <li><b>alignMenu</b> <span class="badge badge-light">v2.1</span> - Sets the alignment of menu to the left or pushing to the right (<b>default</b>).</li> 
 </ul> 
 <p><b>Image element</b></p> 
 <p>Add image to the brand part of navbar.</p> 
 <ul> 
  <li><b>src</b> <span class="badge badge-light">v2.0</span> - the path location of image to use.</li> 
  <li><b>width</b> <span class="badge badge-light">v2.0</span> - the width of image, 30 is the default if value is empty or null.</li> 
  <li><b>height</b> <span class="badge badge-light">v2.0</span> - the height of image, 30 is the default if value is empty or null.</li> 
 </ul> 
 <section> 
  <h3 id="components-navbar_toc_sample-pages">Sample Pages</h3> 
  <p>Here is a table containing different configuration of Navbar.</p> 
  <table border="0" class="bodyTable table table-striped table-hover"> 
   <thead> 
    <tr class="a"> 
     <th> Page </th> 
     <th> Centered </th> 
     <th> Alignment </th> 
    </tr> 
   </thead> 
   <tbody> 
    <tr class="b"> 
     <td> <a href="test/navbar-centered-right.html">centered-right</a> </td> 
     <td> true </td> 
     <td> right </td> 
    </tr> 
    <tr class="a"> 
     <td> <a href="test/navbar-centered-left.html">centered-left</a> </td> 
     <td> true </td> 
     <td> left </td> 
    </tr> 
    <tr class="b"> 
     <td> <a href="test/navbar-uncentered-right.html">uncentered-right</a> </td> 
     <td> false </td> 
     <td> right </td> 
    </tr> 
    <tr class="a"> 
     <td> <a href="test/navbar-uncentered-left.html">uncentered-left</a> </td> 
     <td> false </td> 
     <td> left </td> 
    </tr> 
   </tbody> 
  </table> 
 </section> 
</section> 
<section> 
 <h2 id="components-navbar_toc_brand1">Brand</h2> 
 <p>support <span class="badge badge-primary">v1.0</span><br> element <span class="badge badge-secondary">reflow</span></p> 
 <p>The brand text (or image) appearing in the left of the top navigation bar can be customised using &lt;brand&gt; element. You can set both the contents and the link.</p> 
 <div> 
  <div> 
   <pre class="source">&lt;brand&gt;
  &lt;name&gt;text&lt;/name&gt;
  &lt;href&gt;link&lt;/href&gt;
&lt;/brand&gt;
</pre> 
  </div> 
 </div> 
 <ul> 
  <li><b>name</b> element sets the text of the top-left brand</li> 
  <li><b>href</b> element sets the link to open when the brand text is clicked</li> 
 </ul> 
 <p>Note that the &lt;name&gt; element can be used to embed custom HTML content. To do that, use CDATA element as the contents of &lt;name&gt; (writing HTML without CDATA will not work):</p> 
 <div> 
  <div> 
   <pre class="source">&lt;brand&gt;
  &lt;name&gt;
    &lt;![CDATA[
    &lt;span class="color-highlight"&gt;Reflow&lt;/span&gt; Maven Skin
    ]]&gt;
  &lt;/name&gt;
  ..
&lt;/brand&gt;
</pre> 
  </div> 
 </div> 
 <p>The above example is taken from this website, in order to have the <i>Reflow</i> part in different colour. Images could also be added there in a similar manner.</p> 
</section>
        </div>
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block col-xl-3">
        <div class="feedback-links">
            <ul class="nav flex-column flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/devacfr/reflow-maven-skin/tree/master/reflow-maven-skin/src/site/markdown/components/navbar.md"><i class="far fa-edit" target="_blank" rel="noopener noreferrer"></i> Improve this page</a>
                </li>
            </ul>
        </div>
            <div id="m-toc-sidebar" class="d-print-none m-toc-sidebar-enabled m-toc-sidebar-expanded m-toc-sidebar-autoexpandable toc-sidebar-fixed">
                <nav id="m-toc-sidebar-nav flex-column">
                <ul class="m-nav--sidebar nav flex-column flex-nowrap">
    <li class="h1">
        <a class="nav-link" href="#components-navbar_toc_top-navbar-component" title="Top Navbar Component">Top Navbar Component</a>
    </li>
    <li class="h2">
        <a class="nav-link" href="#components-navbar_toc_usage1" title="Usage">Usage</a>
    </li>
    <ul class="nav flex-column flex-nowrap nav-collapsible">
            <li class="h3">
        <a class="nav-link" href="#components-navbar_toc_sample-pages" title="Sample Pages">Sample Pages</a>
    </li>
    </ul>
    <li class="h2">
        <a class="nav-link" href="#components-navbar_toc_brand1" title="Brand">Brand</a>
    </li>
                    </ul>
                </nav>
           </div>
    </div>
</div>