





 

 
 
 

 

 
 
     <div class="row no-gutters">
                                                              
                <div class="col-lg-12 col-xl-9 py-3">
                 <h1 id="components-navside-menu_toc_navside_menu_component1">Navside Menu Component</h1> 
<p>Navside menu component is a part of page <a href="#documentation-layout">documentation layout</a> to the left of page. Navside menu is vertical multi level menus for both desktop and mobile modes initialized with the <code class="\&quot;literal\&quot;">&lt;menu&gt;</code> element declared in a page with documentation layout type.</p> 
<div class="section"> 
 <h2 id="components-navside-menu_toc_usage">Usage</h2> 
 <p>support <span class="badge badge-primary">v2.0</span> <span class="badge badge-success">new</span><br> element <span class="badge badge-secondary">reflow</span> <span class="badge badge-info">component</span></p> 
 <div> 
  <div> 
   <pre class="source">&lt;navside-menu cssClass="bootstrap classes"
              theme="light|dark"
              background="bootstrap colour theme" /&gt;
</pre> 
  </div> 
 </div> 
 <ul> 
  <li><b>cssClass</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap support. <code class="\&quot;literal\&quot;">navside-light bg-light</code> is the default value if value is empty or <code class="\&quot;literal\&quot;">null</code>. <b>note</b>: <code class="\&quot;literal\&quot;">cssClass</code> override attributes <code class="\&quot;literal\&quot;">theme</code> and <code class="\&quot;literal\&quot;">background</code> if is filled.</li> 
  <li><b>theme</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap theme . <code class="\&quot;literal\&quot;">light</code> is the default value if value is empty or <code class="\&quot;literal\&quot;">null</code>.</li> 
  <li><b>background</b> <span class="badge badge-light">v2.0</span> - Sets the css class with built-in Bootstrap colour theme. <code class="\&quot;literal\&quot;">light</code> is the default value if value is empty or <code class="\&quot;literal\&quot;">null</code>.</li> 
 </ul> 
</div>
        </div>
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block col-xl-3">
        <div class="feedback-links">
            <ul class="nav flex-column flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/devacfr/reflow-maven-skin/tree/master/reflow-maven-skin/src/site/markdown/components/navside-menu.md"><i class="far fa-edit" target="_blank" rel="noopener noreferrer"></i> Improve this page</a>
                </li>
            </ul>
        </div>
                        <div id="m-toc-sidebar" class="d-print-none m-toc-sidebar-enabled m-toc-sidebar-expanded m-toc-sidebar-autoexpandable toc-sidebar-fixed">
                <nav id="m-toc-sidebar-nav flex-column">
                <ul class="m-nav--sidebar nav flex-column flex-nowrap">
    <li class="h1">
        <a class="nav-link" href="#components-navside-menu_toc_navside_menu_component1" title="Navside Menu Component">Navside Menu Component</a>
    </li>
    <li class="h2">
        <a class="nav-link" href="#components-navside-menu_toc_usage" title="Usage">Usage</a>
    </li>
                    </ul>
                </nav>
           </div>
        </div>
</div>