#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')

$h1 Contribute

Contributions via GitHub pull requests are gladly accepted from their original author. Along with any pull requests,
please state that the contribution is your original work and that you license the work to the project under the project's open source license.
Whether or not you state this explicitly, by submitting any copyrighted material via pull request, email,
or other means you agree to license the material under the project's open source license and warrant that you have the legal authority to do so.


$h2 Issues (bug and feature tracker)

Please report any bugs found, feature requests or other issues on
[Reflow skin GitHub tracker][reflow-issues].

[reflow-issues]: ${issue-url}



$h2 Fork, patch and contribute code

Feel free to fork Reflow skin's [Git repository at GitHub][reflow-github] for your own use and
updates.

Contribute your fixes and new features back to the main codebase using
[GitHub pull requests][github-pull-req].

[reflow-github]: ${scm-url}
[github-pull-req]: http://help.github.com/articles/using-pull-requests


$h2 Support

Let me know if you are using Reflow skin in your project. I may get around to creating a showcase
page listing skin user sites.

[Contact me][av-site] if you have questions about the skin, or just like to say something about it.
If you _really really_ like the skin and want to support the author, I will be glad to
[accept a small donation][donate].

[av-site]: http://andrius.velykis.lt
[donate]: https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=QWKNRFZH52828


$h2 Acknowledgements

Reflow skin is built on [Bootstrap][bootstrap] and uses themes from [Bootswatch][bootswatch].
These include icons from [Glyphicons][glyphicons] and web fonts from [Google][webfonts].

JavaScript goodies with [jQuery][jquery].

Image previews with [Lightbox2][lightbox2].

Code highlighting with [highlight.js][highlight-js].

Anchor Heading with [anchor.js][anchor-js].

HTML rewriting with [jsoup][jsoup].

Some artwork resources from [MediaLoot][medialoot].

Inspired by [Maven Fluido Skin][fluido].

[bootstrap]: http://getbootstrap.com/
[bootswatch]: http://bootswatch.com/
[glyphicons]: http://glyphicons.com/
[webfonts]: http://www.google.com/webfonts/
[jquery]: http://jquery.org
[lightbox2]: http://lokeshdhakar.com/projects/lightbox2
[highlight-js]: http://softwaremaniacs.org/soft/highlight/en/
[anchor-js]: https://www.bryanbraun.com/anchorjs/
[jsoup]: http://jsoup.org/
[medialoot]: http://medialoot.com/
[fluido]: http://maven.apache.org/skins/maven-fluido-skin/


$h2 Copyright and license

Copyright 2012-2018 Christophe Friederich

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License in the LICENSE file, or at:

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
