#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
$h2 Release notes

The history of Reflow Maven skin releases is documented below. For details of changes refer to the [project's GitHub issues][reflow-issues] or the [GitHub report][github-report].

[reflow-issues]: ${issue-url}?state=closed
[github-report]: github-report.html

$h3 Reflow Maven skin 1.5 Release Notes
**2018-10-12**

this release proposes a new module `reflow-default-webdeps` containing all required web resources to create a local version of your site ( inspired of work on project [incubator-plc4x](https://github.com/apache/incubator-plc4x) ).

`reflow-default-webdeps` has following structure:

```text
+- css
|   + bootstrap.min.css
+- fonts
|   - glyphicons-halflings-regular.eot
|   - glyphicons-halflings-regular.svg
|   - glyphicons-halflings-regular.woff
|   - glyphicons-halflings-regular.woff2
+- js
|   - anchor.min.js
|   - bootstrap.min.js
|   - jquery.min.js
|   - highlight.min.js
|   - languages
|       + all highlight languages
|   - styles
|       + all highlight styles
```

This package should be unpack as following example:

```xml
<plugin>
    <groupId>org.apache.maven.plugins</groupId>
    <artifactId>maven-dependency-plugin</artifactId>
    <executions>
        <execution>
        <id>unpack</id>
        <phase>pre-site</phase>
        <goals>
            <goal>unpack</goal>
        </goals>
        <configuration>
            <artifactItems>
                <artifactItem>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>reflow-default-webdeps</artifactId>
                    <version>${project.version}</version>
                    <type>jar</type>
                    <overWrite>false</overWrite>
                    <includes>
                        **/css/bootstrap.min.css,
                        **/fonts/*,
                        **/js/*.js,
                        **/js/languages/*,
                        **/js/styles/github.min.css
                    </includes>
                </artifactItem>
            </artifactItems>
            <outputDirectory>${root.basedir}/site</outputDirectory>
        </configuration>
        </execution>
    </executions>
</plugin>
```

$h4 Minor enhancements

- Update to use customized Bootstrap theme 3.x ([#29][]).
- Add local resources easily during site generation ([#28][]).
- Share the same site.css by default for all modules ([#5][]).
- Remove unused relative URL on external link ([#25][]).
- Remove unsused offsetTop attibute on toc element ([#26][]).
- Remove using of awesome font in toc sidebar ([#27][]).


[#5]: ${issue-url}/5
[#25]: ${issue-url}/25
[#26]: ${issue-url}/26
[#27]: ${issue-url}/27
[#28]: ${issue-url}/28
[#29]: ${issue-url}/29

$h3 Reflow Maven skin 1.4 Release Notes
**2018-10-05**

$h4 Minor enhancements

- Add ability to explicitly load custom Velocity tools
- If "publishDate position" is set to "none" also exclude the generation date from the automatically generated comment in the header [Pull Request #24][PR-24] ([chrisdutz](https://github.com/chrisdutz)).
- Add auto-adjust placement of sub dropdown menu when out of window.

$h4 Bug fixes

- Fix missing highlightjs javascript call

[PR-24]: https://github.com/devacfr/reflow-maven-skin/pull/24

$h3 Reflow Maven skin 1.3 Release Notes
**2017-12-01**

$h4 Minor enhancements

- Update JQuery version to 3.3.1
- Update Bootstrap version to 3.3.7
- Update LightBox version to 2.10.0
- Add affix on toc side bar.
- Change groupId to io.github.devacfr to deploy on maven central repository.
- Add CI on master branch
- Add AnchorJs javascript library.
- Exclude heading in carousel section(s) for TOC bar and sidebar.
- Add gpg signature,
- Remove white space in generate html.
- Double 'well' in TOC is fixed [Pull request #11](https://github.com/devacfr/reflow-maven-skin/pull/8) (Maxim Solodovnik <solomax666@gmail.com>).
- Sidebar should be hidden for small devices [Pull request #8](https://github.com/devacfr/reflow-maven-skin/pull/8) (Maxim Solodovnik <solomax666@gmail.com>).

$h4 Bug fixes

- TOC block overlapping carousel element ([#23][]).
- Fix jquery error: jquery.min.js:2 Uncaught Error: Syntax error, unrecognized expression: #
- Fix the method fixTableHeads (for Tag List Report), now convert table containing only one head row.
- Second level menu on mobile devices #20 (Maxim Solodovnik <solomax666@gmail.com>).
- In checkstyle report link on detail of file doesn't work.
- Can not click on breadcrumb.
- Fix Top navbar overlaps with header.
- Fix scroll to Top.
- Fix url project in copyright.

[#23]: ${issue-url}/23

$h3 Reflow Maven skin 1.2-DEVACFR Release Notes
**2014-09-18**

$h4 Highlights of this release

This release covers all features targeted for 1.2-DEVACFR Some of the highlights include:

* The site documentation use maven properties to keep up to date after each release.

$h4 Minor enhancements

- Add maven properties in site documentation ([#17][])

$h4 Bug fixes

- Rename Rename `index.md.mv` to `index.md.vm`
- Maven Site Plugin 3.6 compatibility ([#1][])

[#1]: ${issue-url}/1
[#17]: ${issue-url}/17

$h3 Reflow Maven skin 1.1.2-DEVACFR Release Notes
**2014-09-17**

$h4 Minor enhancements

- Bump Bootstrap version to 3.3.6 (default version) ([#2][])
- Bump HighlightJs version to 9.12.0 (default version) ([#3][])

[#2]: ${issue-url}/2
[#3]: ${issue-url}/3


$h3 Reflow Maven skin 1.1.1 Release Notes
**2014-06-22**

$h4 Bug fixes

-   Image previews (lightbox) don't work anymore ([#35][])
-   Smooth scrolling does not work ([#36][])

See [all GitHub issues for 1.1.1][reflow-issues-111] for further details.

[#35]: http://github.com/andriusvelykis/reflow-maven-skin/issues/35
[#36]: http://github.com/andriusvelykis/reflow-maven-skin/issues/36

[reflow-issues-111]: http://github.com/andriusvelykis/reflow-maven-skin/issues?milestone=2&amp;state=closed


$h3 Reflow Maven skin 1.1.0 Release Notes
**2014-02-17**

$h4 Major enhancements

-   Support for custom/local resources (vs. hardcoded CDN-based jQuery and Bootstrap), which enables use of Reflow skin in a local/intranet setting ([#24][])

$h4 Minor enhancements

-   Upgraded to Bootstrap 2.3 ([#9][])
-   Bumped versions of other skin components (e.g. [#22][])

$h4 Bug fixes

-   Fixed ToC snapping when banner is not available/is of custom size ([#1][])
-   NPE when menu item href is not set ([#8][])
-   Other various fixes (see [GitHub issues][reflow-issues-110])

See [all GitHub issues for 1.1.0][reflow-issues-110] for further details.

[#1]: http://github.com/andriusvelykis/reflow-maven-skin/issues/1
[#8]: http://github.com/andriusvelykis/reflow-maven-skin/issues/8
[#9]: http://github.com/andriusvelykis/reflow-maven-skin/issues/9
[#22]: http://github.com/andriusvelykis/reflow-maven-skin/issues/22
[#24]: http://github.com/andriusvelykis/reflow-maven-skin/issues/24

[reflow-issues-110]: http://github.com/andriusvelykis/reflow-maven-skin/issues?milestone=1&amp;state=closed


$h3 Reflow Maven skin 1.0.0 Release Notes
**2013-01-15**

-   Initial release of Reflow Maven skin and Reflow Velocity tools.



