<layout shortcode class="container highlight highlight-about">
    <row shortcode>
        <column shortcode class="col-sm-6">

            <h2><span class="color-highlight">Reflow</span> Maven skin</h2>
            <p>is an <a href="http://maven.apache.org/guides/mini/guide-site.html" target="_blank" rel="noopener">Apache
                    Maven
                    site</a>
                skin built on <a href="http://getbootstrap.com" target="_blank" rel="noopener">Bootstrap</a>. It allows
                various
                structural and stylistic customizations to create a modern-looking Maven-generated website.
            </p>
        </column>
        <column shortcode class="col-sm-offset-1 col-sm-5 d-none d-md-none d-lg-block text-right">
            <img src="$resourcePath/images/logo.svg" height="80%" width="80%" />
        </column>
    </row>
</layout>
