{{< layout class="highlight highlight-responsive-layout" >}}

{{< layout class="container" >}}

{{< row >}}

{{< column class="d-none d-md-none d-lg-block" >}}

#include( "src/site/svg/layers.svg" )

{{< /column >}}

{{< column class="text-right" >}}


<h2>Responsive Layout</h2>
<p>Write your pages in
    <a href="http://maven.apache.org/doxia/references/index.html" target="_blank" rel="noopener">APT,
        AsciiDoc, Xdoc, Xhtml or
        Markdown</a>, then restructure them using Reflow skin
    <a href="doc/reflow-documentation.html#layouts.html">layouts</a>.</p>
<p>Reflow skin is responsive thanks to
    <a href="http://getbootstrap.com" target="_blank" rel="noopener">Bootstrap</a>, so the layouts will
    be rearranged automatically for
    readability on small screens.</p>
<p class="text-center">
    <a class="btn btn-outline-primary btn-md mb-2 mr-2 ml-2 pill-btn"
        href="$resourcePath/doc/reflow-documentation.html#layouts.html">Read more
        #include( "src/site/svg/angle-double-right.svg" )
    </a>
</p>

{{< /column >}}

{{< /row >}}

{{< /layout >}}

{{< /layout >}}
