//
// Copyright 2012-2020 Christophe Friederich
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//


++++
<div class="header text-center text-light" role="main">
    <div class="container container-fluid">
        <div class="header--subhead">
            <div id="banner" class="header__banner">
            <a href="." class="d-inline-block">
                <img style="vertical-align: middle;" class="m-2" src="$resourcePath/images/logo.svg"
                    alt="$decoration.bannerLeft.alt" width="$decoration.bannerLeft.width" height="$$decoration.bannerLeft.height">
            </a>
            <h1 class="d-inline-block">$decoration.bannerLeft.name</h1>
            <p class="lead">$config.slogan.getValue()</p>
        </div>
            <p>
                <a href="reflow-maven-skin/reflow-documentation.html#get-started.html"
                    class="btn btn-lg mb-2 mr-2 ml-2">
                    <span class="btn__link-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L8,21 C5.790861,21 4,19.209139 4,17 C4,14.790861 5.790861,13 8,13 L20,13 C21.1045695,13 22,13.8954305 22,15 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"
                                    fill="#000000" opacity="0.3" />
                                <path
                                    d="M15.5421357,5.69999981 L18.3705628,8.52842693 C19.1516114,9.30947552 19.1516114,10.5758055 18.3705628,11.3568541 L9.88528147,19.8421354 C8.3231843,21.4042326 5.79052439,21.4042326 4.22842722,19.8421354 C2.66633005,18.2800383 2.66633005,15.7473784 4.22842722,14.1852812 L12.7137086,5.69999981 C13.4947572,4.91895123 14.7610871,4.91895123 15.5421357,5.69999981 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"
                                    fill="#000000" opacity="0.3" />
                                <path
                                    d="M5,3 L9,3 C10.1045695,3 11,3.8954305 11,5 L11,17 C11,19.209139 9.209139,21 7,21 C4.790861,21 3,19.209139 3,17 L3,5 C3,3.8954305 3.8954305,3 5,3 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"
                                    fill="#000000" />
                            </g>
                        </svg>
                    </span>
                    <span class="btn__link-text">Get Started</span>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container highlight highlight-about">
    <div class="row">
        <div class="col-sm-6">
            <h2><span class="color-highlight">Reflow</span> Maven skin</h2>
            <p>is an <a href="http://maven.apache.org/guides/mini/guide-site.html">Apache
                    Maven site</a> skin built
                on <a href="http://getbootstrap.com">Bootstrap</a>. It allows various
                structural and stylistic customizations to create a modern-looking
                Maven-generated website.</p>
        </div>
        <div class="col-sm-offset-1 col-sm-5 text-right">
            <img src="$resourcePath/images/logo.svg" height="80%" width="80%">
        </div>
    </div>
</div>

<div class="highlight highlight-responsive-layout">
    <div class="container">
        <div class="row">
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1"
                    class="svg-icon svg-icon--purple svg-icon--highlight">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path
                            d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                            fill="#000000" fill-rule="nonzero" />
                        <path
                            d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                            fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </div>
            <div class="col text-right">
                <h2>Responsive Layout</h2>
                <p>Write your pages in <a href="http://maven.apache.org/doxia/references/index.html">APT,
                        AsciiDoc, Xdoc, Xhtml or
                        Markdown</a>, then restructure them using Reflow skin <a
                        href="reflow-maven-skin/reflow-documentation.html#layouts.html">layouts</a>.</p>
                <p>Reflow skin is responsive thanks to <a href="http://getbootstrap.com">Bootstrap</a>, so the
                    layouts will be rearranged automatically for readability on small screens.</p>
                <p class="text-center"><a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
                        href="reflow-maven-skin/reflow-documentation.html#layouts.html">Read more »</a></p>
            </div>
        </div>
    </div>
</div>

<div class="highlight highlight-general">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <div class="text-center mb-5">
                    <h3>Theme</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="100px" height="100px" viewBox="0 0 24 24" version="1.1"
                        class="svg-icon svg-icon--primary svg-icon--highlight">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                                d="M1.4152146,4.84010415 C11.1782334,10.3362599 14.7076452,16.4493804 12.0034499,23.1794656 C5.02500006,22.0396582 1.4955883,15.9265377 1.4152146,4.84010415 Z"
                                fill="#000000" opacity="0.3" />
                            <path
                                d="M22.5950046,4.84010415 C12.8319858,10.3362599 9.30257403,16.4493804 12.0067693,23.1794656 C18.9852192,22.0396582 22.5146309,15.9265377 22.5950046,4.84010415 Z"
                                fill="#000000" opacity="0.3" />
                            <path
                                d="M12.0002081,2 C6.29326368,11.6413199 6.29326368,18.7001435 12.0002081,23.1764706 C17.4738192,18.7001435 17.4738192,11.6413199 12.0002081,2 Z"
                                fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                </div>
                <p>The skin theme can be <a
                        href="reflow-maven-skin/reflow-documentation.html#themes-index">switched easily</a>:
                    just select a Bootstrap theme to give an easy makeover for your Maven site.</p>
                <ul>
                    <li><b>Default</b> - use the default <a href="http://getbootstrap.com">Bootstrap</a> theme
                    </li>
                    <li><b>Bootswatch</b> - select an excellent free theme from <a
                            href="http://bootswatch.com">Bootswatch</a></li>
                    <li><b>Custom</b> - create your own Bootstrap theme with <a
                            href="http://twitter.github.com/bootstrap/customize.html">existing tools</a></li>
                </ul>
                <p><b>Need to change something?</b> Extend the skin with custom <code
                        class="literal">site.css</code> file in your project, and <a
                        href="reflow-maven-skin/reflow-documentation.html#multi-module.html">reuse it for
                        multi-module site</a>.</p>
                <p class="text-center">
                    <a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
                        href="reflow-maven-skin/reflow-documentation.html#themes-index">How to select a
                        theme
                        »</a>
                </p>
            </div>
            <div class="col text-left">
                <div class="text-center">
                    <h3>Configure</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                        class="svg-icon svg-icon--primary svg-icon--highlight">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <rect fill="#000000" x="3" y="2" width="15" height="5" rx="1" />
                            <rect fill="#000000" x="9" y="12" width="4" height="10" rx="1" />
                            <path
                                d="M12,12 L10,12 L10,11 C10,9.8954305 10.8954305,9 12,9 L19,9 L19,5.5 L18,5.5 L18,3.5 L19,3.5 C20.1045695,3.5 21,4.3954305 21,5.5 L21,9 C21,10.1045695 20.1045695,11 19,11 L12,11 L12,12 Z"
                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        </g>
                    </svg>
                </div>
                <p>Many features and components are configurable to enhance your web site.</p>
                <ul>
                    <li><b>Table of contents</b> - display ToC for each page: top bar or sidebar</li>
                    <li><b>Menus</b> - filter Maven menus and select what to display in top or bottom navigation
                    </li>
                    <li><b>Code highlight</b> - syntax colouring for code snippets</li>
                    <li><b>Image preview</b> - display images in pop-ups</li>
                    <li><b>Documentation support</b> - organize easier your multi-section documentation.</li>
                    <li>… <a href="reflow-maven-skin/reflow-documentation.html#get-started_toc_configuration">and
                            more</a></li>
                </ul>
                <p class="text-center">
                    <a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
                        href="reflow-maven-skin/reflow-documentation.html#get-started_toc_configuration">Read
                        more »</a>
                </p>
            </div>
        </div>
    </div>
</div>
++++
