#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')

$h1 Get Started

This section explains how uses reflow maven skin and the basic configurations in your project.

$h2 Usage

To use this Maven skin, include it in your [`site.xml` site descriptor][site-xml] file:

```xml
<project>
  ...
  <skin>
    <groupId>${project.groupId}</groupId>
    <artifactId>reflow-maven-skin</artifactId>
    <version>${project.version}</version>
  </skin>
  ...
</project>
```

The skin is provided on the _works on my computer_ basis at the moment. I am using the newest versions of `maven-site-plugin` and other components and at the moment do not have any feedback on using the skin with Maven 2 site or other configurations.

$h2 POM dependencies

Add [`reflow-velocity-tools`][reflow-tools] dependency to `maven-site-plugin` in the POM file:

```xml
<build>
  <plugins>
    ...
    <plugin>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-site-plugin</artifactId>
      <version>${maven-site-plugin-version}</version>
      <dependencies>
        ...
        <dependency>
          <groupId>${project.groupId}</groupId>
          <artifactId>reflow-velocity-tools</artifactId>
          <version>${project.version}</version>
        </dependency>
        ...
      </dependencies>
      ...
    </plugin>
    ...
  </plugins>
</build>
```

Reflow Velocity tools ([`reflow-velocity-tools`][reflow-tools]) are required by the Reflow skin
to read skin configuration and provides other functionality. The library must be available when
generating Maven site.

---

$h2 Configuration

Reflow skin supports extensive configuration options, including theme, layout, new/updated page components and a large number of various other flags.

The configuration is specified in the [`site.xml` site descriptor][site-xml] file, using the `<custom><reflowSkin>` element.

The documentation is split over several pages, describing the various configuration options:

- **[Themes]( #themes-index )** How to configure own theme or select one of the excellent [Bootswatch][bootswatch] themes.
- **[Layouts]( #layouts.html )** Reflow the page with different layouts: multi-column text, carousel, thumbnails and others.
- **[Components]( #components.html )** Enable and configure various existing and new components: table of contents, headers, menus, etc.
- **[Other configuration]( #configuration.html )** Various configuration options: page title, menus, javaScript goodies, CSS updates and more.
- **[Multi-module site]( #multi-module.html )** Additional support and notes for generating multi-module Maven sites.

Note that all configuration options can be set on a per-page basis ([see below](#get-started_toc_per-page_configuration)).

The skin is configurable using the `<custom>` element in your `site.xml` file. The available options are described in this documentation. A sample configuration file is below:

```xml
<project>
  ...
  <custom>
    <reflowSkin>
      <theme>bootswatch-spacelab</theme>
      <highlightJs>true</highlightJs>
      <brand>
        <name>My Project</name>
        <href>${scm-url}</href>
      </brand>
      <slogan>Super interesting project doing good things.</slogan>
      <titleTemplate>%2$s | %1$s</titleTemplate>
      <toc>top</toc>
      <navbar filterMenu="Download|reports" />
      <bottomNav>
        <column>Main|Download</column>
        <column>Documentation</column>
        <column>reports|modules</column>
      </bottomNav>
      <bottomDescription>
        This is a very good project doing interesting and valuable things.
      </bottomDescription>
      <pages>
        <index project="project-id">
          <shortTitle>Welcome</shortTitle>
          <breadcrumbs>false</breadcrumbs>
          <toc>false</toc>
          <sections>
            <carousel />
            <body />
            <sidebar />
            <thumbs>2</thumbs>
            <columns>3</columns>
          </sections>
        </index>
        <developer-info>
            <!-- inherit of parent value -->
            <navbar filterMenu="inherit" cssClass="navbar-dark bg-dark " />
          <toc>sidebar</toc>
        </developer-info>
        <overview>
            <toc>false</toc>
            <sections>
                <thumbs>3</thumbs>
                <body />
            </sections>
        </overview>
        <documentation type="doc">
          <menu name="Documentation" selectFirstOnExpand="false">
            <item name="Overview" href="overview.html"/>
            <item name="Installation">
              <item name="Standalone Installation" href="standalone-installation.html"/>
              <item name="Linux And Mac Options" href="linux-mac-options.html"/>
              <item name="Windows Options" href="windows-options.html"/>
            </item>
            <item name="Develop" href="develop.html"/>
          </menu>
        </documentation>
      </pages>
    </reflowSkin>
  </custom>
  ...
</project>
```

$h3 Per-page configuration

Reflow skin has quite a number of configuration options, which can be applied either globally or
limited to a specific page. The _per-page configuration_ allows setting page-specific layouts,
disable breadcrumbs or table of contents, or even change the theme for a single page.

All configuration options can be specified _per-page_. If the same configuration is specified
both _globally_ and _per-page_, the _per-page_ one overrides the global option.

The configuration of a page is set using the `<pages>` element of the skin configuration.
Each element within `<pages>` indicates the name of the page file being customized.

```xml
<custom>
  <reflowSkin>
    ...
    <pages>
      <index>
        <!-- index.html (generated from index.apt, index.md or others):
             will set the configuration for index.html in submodules as well. -->
        ...
      </index>
      <usage-basic project="my-project">
        <!-- usage/basic.html in "my-project" project only: submodules will not inherit -->
        ...
      </usage-basic>
      ...
    </pages>
    ...
  </reflowSkin>
</custom>
```

$h3 Page Id

Each page configuration is set within a `<pages><[pageId]>` element.

The page Id is its file name without extension. This is because the pages may be generated from different file formats, e.g. [APT, XDoc, Markdown, etc][doxia-formats]. The page ID characters must be of the same case as the generated file name.

For generated files that are in directories, `"-"` is used as the separator for directory structure. So a file in _./subdir/foo.html_ is referred as `<subdir-foo>` in the configuration.

$h3 Configuration inheritance

The page configuration is applied to all generated pages that have the indicated file name. For multi-module builds, child sites will inherit the configuration from parent site. So if the parent has defined a configuration for `<index>`, it will also be applied to _index.html_ in the child project.

Sometimes this is undesirable, so one can use `project` attribute to indicate the project that the page applies to. For child pages, the project will be different from indicated and thus the configuration will not apply. The project is identified using its `artifactId`.

If you still encounter inheritance problems, try using [`combine.self="override"` attribute][mvn-merge] on the `site.xml` element to explicitly override it.

[doxia-formats]: http://maven.apache.org/doxia/references/index.html
[site-xml]: http://maven.apache.org/doxia/doxia-sitetools/doxia-decoration-model/decoration.html
[bootswatch]: http://bootswatch.com
[mvn-merge]: http://www.sonatype.com/people/2011/01/maven-how-to-merging-plugin-configuration-in-complex-projects/

$h2 Responsive design

Reflow skin is built on [Bootstrap][bootstrap] and provides responsive design features out of the
box. The page layouts are rearranged for smaller screens to provide a good viewing experience.

[bootstrap]: http://getbootstrap.com

$h2 Learn by example

This website itself is generated using Reflow Maven skin and is written in Markdown.
The source code is [available on GitHub][reflow-src].

Look for the site configuration and web page sources in `/src/site` of each module;
and for plug-in configuration in respective POM files.

[reflow-tools]: ../reflow-velocity-tools
[site-xml]: http://maven.apache.org/doxia/doxia-sitetools/doxia-decoration-model/decoration.html
[reflow-src]: ${scm-url} "Reflow Maven skin source code"
