{{< layout class="highlight highlight-general" >}}

{{< layout class="container" >}}

{{< card-group >}}

{{% card class="border-0 text-center" %}}

<card-body>
    #include( "src/site/svg/roller.svg" )
    <h4 class="text-secondary">Configure</h4>
    <p class="card-text">Many features and components are configurable to enhance your web site.</p>
</card-body>
<card-footer class="border-0 bg-transparent">
    <a class="btn btn-outline-primary btn-md mb-2 mr-2 ml-2 pill-btn"
        href="$resourcePath/reflow-maven-skin/reflow-documentation.html#get-started_toc_configuration">Read more
        #include( "src/site/svg/angle-double-right.svg" )
    </a>
</card-footer>

{{% /card %}}

{{% card class="border-0 text-center" %}}

<card-body>
    <h4 class="text-secondary">Snippet</h4>
    #include( "src/site/svg/puzzle.svg" )
    <p class="card-text">We want more flexibility for your markdown page. Reflow snippets allow for both stylishness and
        flexibility.</p>
</card-body>
<card-footer class="border-0 bg-transparent">
    <a class="btn btn-outline-primary btn-md mb-2 mr-2 ml-2 pill-btn"
        href="$resourcePath/reflow-maven-skin/reflow-documentation.html#snippets-snippet">Read More
        #include( "src/site/svg/angle-double-right.svg" )
    </a>
</card-footer>

{{% /card %}}

{{% card class="border-0 text-center" %}}

<card-body>
    <h4 class="text-secondary">Theme</h4>
    #include( "src/site/svg/flower.svg" )
    <p class="card-text">Select a Bootstrap theme to give an easy makeover for your Maven site.</p>
</card-body>
<card-footer class="border-0 bg-transparent">
    <a class="btn btn-outline-primary btn-md mb-2 mr-2 ml-2 pill-btn"
        href="$resourcePath/reflow-maven-skin/reflow-documentation.html#snippets-snippet">Browse theme
        #include( "src/site/svg/angle-double-right.svg" )
    </a>
</card-footer>

{{% /card %}}

{{% card class="border-0 text-center" %}}

<card-body>
    <h4 class="text-secondary">Contribute</h4>
    #include( "src/site/svg/code-github.svg" )
    <p class="card-text">Contribute by reporting issues, suggesting new features, or forking the Git repository on
        GitHub and adding some good code!</p>
</card-body>
<card-footer class="border-0 bg-transparent">
    <a class="btn btn-outline-primary btn-md mb-2 mr-2 ml-2 pill-btn"
        href="$resourcePath/reflow-maven-skin/reflow-documentation.html#snippets-snippet">Contribute
        #include( "src/site/svg/angle-double-right.svg" )
    </a>
</card-footer>

{{% /card %}}

{{< /card-group >}}

{{< /layout >}}

{{< /layout >}}
