#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')

$h1 Reflow Maven skin 2.0 Release Notes

$h2 Highlights of this release

This focus of this release is:

- Reflow Maven skin provides package `reflow-default-webdeps` containing the default web dependencies used when using `<localResources>`.
- Built on Bootstrap 4.
- Add Bootstrap theming on main component as `navbar`, `toc`, `footer`, `navside-menu`...
- Remove support of customized bootstrap theme.

$h2 Changelog
**???**

$h3 Minor enhancements

- Add documentation support ([#19][]).
- Bump Bootstrap version to 4.1.3 ([#7][]).
- Add popper.js bootsrap dependency ([#34][]).
- Add local resources easily during site generation ([#28][]).
- Remove support of customized Bootsrap theme ([#32][]).

$h3 Bug fixes

- Unexpected velocity.log file created during site generation ([#30][]) [Pull request #31](https://github.com/devacfr/reflow-maven-skin/pull/31) (Maxim Solodovnik <solomax666@gmail.com>).
- Fix active link on menu item when link is index.html page ([#35][]).

[#7]: ${issue-url}/7
[#19]: ${issue-url}/19
[#28]: ${issue-url}/28
[#30]: ${issue-url}/30
[#32]: ${issue-url}/32
[#34]: ${issue-url}/34
[#35]: ${issue-url}/35
