.color-highlight {
	color: #225E9B;
}

.color-highlight:after {
    content :"2";
    font-weight: 900;
    color: var(--danger);
    position: relative;
}

.navbar-brand .color-highlight:after {
    left: -3px;
}

.subhead .color-highlight:after {
    left: -8px;
}


h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1.6rem;
}

/*
 * Specific to page development-documentation
*/

.page-development-documentation .main-body img.img-fluid {
	padding: 2em;
}

