:root,[data-bs-theme=light] {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 113, 44, 249;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg)
}


/*
 * Specific color of reflow brand name
*/
.color-highlight {
    color: #225E9B;
}

.color-highlight:after {
    content: "3";
    font-weight: 900;
    color: var(--bs-danger);
    position: relative;
}

.navbar-brand .color-highlight:after {
    left: -3px;
}

/* additional menu: enforce row after collapse */
.navbar .navbar-additional {
    flex-direction: row;
}

/*  remove the jump before top navbar size adjustement */
BODY {
    padding-top: 59px;
}


/*
 * Specific to page development-documentation
*/
.page-development-documentation .main-body img.img-fluid {
    padding: 2em;
}

/*
 * header
*/
.header .header__banner h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.header .header__banner .color-highlight:after {
    left: -8px;
}

.header {
    background: #fff url(../images/shahadat-rahman-unsplash.jpg) center;
    background-size: cover;
    min-height: 20rem;
    height: auto;
    border-radius: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.header h1 {
    font-weight: 200;
}

.header p.lead {
    margin: 2rem auto;
}


.header .btn {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
}

.header .btn:hover,
.header .btn:focus,
.header .btn:active {
    color: #46484a;
    background-color: #fff;
}

.header .btn .btn__link-icon svg g [fill],
.header .btn .btn__link-icon svg g [fill],
.header .btn .btn__link-icon svg g [fill] {
    transition: fill .3s ease;
    fill: #fff;
}


.header .btn:hover .btn__link-icon svg g [fill],
.header .btn:focus .btn__link-icon svg g [fill],
.header .btn:active .btn__link-icon svg g [fill] {
    transition: fill .3s ease;
    fill: #46484a;
}

.footer .footer--news {
    border-radius: 5px;
    border-color: var(--bs-secondary);
    border-width: 1px;
    border-style: dashed;
}

.footer--news a {
    color: var(--bs-yellow);
}

/*
 * Header highlight sections
*/
.header-highlight {
    padding-top: 45px;
    margin-bottom: 65px;
    font-size: 21.6px
}

.header-highlight .svg-icon-highlight {
    height: 80%;
    width: 80%;
}


.header-highlight img {
    max-width: 90%;
}

.header-highlight h2 {
    font-size: 46px;
    border-left: 8px solid var(--bs-secondary);
    padding: 10px 15px;
    margin-bottom: 25px
}


.header-highlight .text-right h2 {
    border-left: none;
    border-right: 8px solid var(--bs-secondary);
    text-align: right;
}


.header-highlight.general {
    font-size: 18px
}



.header-highlight.general img {
    max-height: 125px;
    padding-top: 6.25px;
    padding-bottom: 16.67px
}

.header-highlight.responsive-layout {
    margin-bottom: 0;
    background-color: var(--bs-tertiary-bg)
}


.header-highlight.responsive-layout .svg-icon-highlight svg {
    height: 80%;
    width: 80%;
}


[data-bs-theme=dark] {
  --bd-violet: #9561fb;
  --bd-violet-bg: #712cf9;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(85, 33, 187, .5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22
}

/*
 * callout from bootstrap
*/
.bd-callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: .25rem solid var(--bd-callout-border, var(--bs-gray-300))
}

.bd-callout h4 {
  margin-bottom: .25rem
}

.bd-callout>:last-child {
  margin-bottom: 0
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout .highlight {
  background-color: #0000000d
}

.bd-callout-info {
  --bd-callout-color: var(--bs-info-text-emphasis);
  --bd-callout-bg: var(--bs-info-bg-subtle);
  --bd-callout-border: var(--bs-info-border-subtle)
}

.bd-callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle)
}

.bd-callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle)
}

/*
 * carousel svg placeholder from bootstrap
*/
.bd-placeholder-img-lg {
    font-size: 3.5rem !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 * example panel
*/
.bd-example,
.bd-example-row {
    position: relative;
    padding: 0.5rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
}

.bd-example-row .row+.row {
  margin-top: 1rem
}

.bd-example .code-section {
  background-color: #f8f9fa;
}

.bd-example::after,
.bd-example-row::after {
    display: block;
    clear: both;
    content: "";
}

@media (min-width: 576px) {

    .bd-example,
    .bd-example-row {
        padding: 0.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
}

.bd-example-row .row>.col,
.bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.bd-example-row .row>.col p,
.bd-example-row .row>[class^=col-] p {
    margin-bottom: 0;
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

.bd-example>.dropdown-menu:first-child {
  position: static;
  display: block
}


.bd-subtitle {
  font-size: calc(1.275rem + .3vw);
  font-weight: 300;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .bd-subtitle {
    font-size:1.5rem
  }
}


/*
 * highlight code block
*/
.highlight .highlight-code pre {
    margin-bottom: 0 !important;
}
