<table class="table mt-5">
    <thead>
        <th>Property</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td><code>$snippet.name</code></td>
            <td>Gets the tag name of component.</td>
        </tr>
        <tr>
            <td><code>$snippet.parent</code></td>
            <td>Gets the component parent of the current component if exists, otherwise <code>null</code>.</td>
        </tr>
        <tr>
            <td><code>$snippet.html</code></td>
            <td>Gets the string representing the the element's inner HTML. E.g. on a
                <code>&lt;data-content&gt;</data-content></code> with one empty
                <code>&lt;p&gt;</code> , would return <code>&lt;p&gt;&lt;/p&gt;</code>.</td>
        </tr>
        <tr>
            <td><code>$snippet.property</code></td>
            <td>

            </td>
        </tr>
        <tr>
            <td><code>$snippet.attr[]</code></td>
            <td>Gets the string representing the value of attribute if exists, otherwise <code>null</code>.</td>
        </tr>
        <tr>
            <td><code>$snippet.[xhtml data tag name]</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$snippet.getAttribute( attribute name )</code></td>
            <td>Gets the string representing the value of attribute if exists, otherwise <code>null</code>.</td>
        </tr>
        <tr>
            <td><code>$snippet.getChildren( component name )</code></td>
            <td>Gets the <a
                    href="reflow-velocity-tools/apidocs/org/devacfr/maven/skins/reflow/snippet/Component.html">Component</a>
                representing the children with specified name if exists, otherwise <code>null</code>.</td>
        </tr>
    </tbody>
</table>
