#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
$h1 Reflow Velocity tools

Reflow skin provides custom tools for [Apache Velocity][velocity] to be used in Maven site
template. These objects are contributed to Velocity context and can be used within the template.
Refer to [Javadoc][javadoc-all] for each tool for more information.

-   **[`SkinConfigTool`][javadoc-config]** (key **&#36;config**)

    Provides a uniform access to Maven site custom configuration options. Supports global and
    per-page configuration. See info on [_per-page configuration_][per-page-info] in Reflow skin
    for an example of features it brings.
-   **[`HtmlTool`][javadoc-html]** (key **&#36;htmlTool**)

    Provides methods to modify and query HTML text using [jsoup][jsoup] library.
-   **[`URITool`][javadoc-uri]** (key **&#36;uriTool**)

    Provides URI utilities that expose URIs to the template.

[velocity]: http://velocity.apache.org/
[per-page-info]: ../reflow-maven-skin/reflow-documentation.html#get-started_toc_per-page_configuration
[jsoup]: http://jsoup.org/

[javadoc-all]: apidocs/
[javadoc-config]: apidocs/org/devacfr/maven/skins/reflow/SkinConfigTool.html
[javadoc-html]: apidocs/org/devacfr/maven/skins/reflow/HtmlTool.html
[javadoc-uri]: apidocs/org/devacfr/maven/skins/reflow/URITool.html


$h2 Usage

To enable these tools, add `reflow-velocity-tools` dependency to `maven-site-plugin` in the POM
file:

```xml
<build>
  <plugins>
    ...
    <plugin>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-site-plugin</artifactId>
      <version>${maven-site-plugin-version}</version>
      <dependencies>
        ...
        <dependency>
          <groupId>${project.groupId}</groupId>
          <artifactId>reflow-velocity-tools</artifactId>
          <version>${project.version}</version>
        </dependency>
        ...
      </dependencies>
      ...
    </plugin>
    ...
  </plugins>
</build>
```
